<md-input-container>
  <input mdInput placeholder="Search" [(ngModel)]="search">
</md-input-container>
<button md-raised-button (click)="fetchShow(search)">Search</button>
<div class="container">
  <div *ngFor="let show of shows | async" >
    <md-card>
      <md-card-title-group>
        <md-card-title (click)="showDetails(show)">{{show.name}} {{show.episodes[0].number}}</md-card-title>
        <md-card-subtitle>{{show.episodes[0].createdDate | timeago}}</md-card-subtitle>
        <div class="thumbnail" [style.backgroundImage]="'url('+show.thumbnail+')'"></div>
      </md-card-title-group>
      <md-card-actions>
        <button *ngFor="let group of show.subbing_groups" md-raised-button [color]="isAutoDownloading(show,group,i) ? 'accent' : ''" (click)="toggleShow(show, group, 720)">{{group.name}}</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
